/* oof */
#header,
#hSub,
.topLeft,
.extended.box,
div:not(.blogPost)>.blogs>div:first-child,
#footer {
	display: none !important;
}

.topRight {
	position: fixed;
	bottom: 24px;
	left: 24px;
	height: 50vh;
	z-index: 10;
	overflow-y: scroll;
	background: #fcfcfc;
}

div:not(.blogPost)>.blogs {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

div:not(.blogPost)>.blogs,
div:not(.blogPost)>.blogs>div,
div:not(.blogPost)>.blogs>div>* {
	z-index: -1;
}
