/* oof */
#header,
#hSub,
.topLeft,
.extended.box,
div:not(.blogPost)>.blogs>div:first-child,
#footer {
	display: none !important;
}

.topRight {
	position: fixed;
	bottom: 24px;
	left: calc(24px + 20vw);
	height: 50vh;
	z-index: 10;
	overflow-y: scroll;
	background: #fcfcfc;
}

div:not(.blogPost)>.blogs {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

div:not(.blogPost)>.blogs,
div:not(.blogPost)>.blogs>div,
div:not(.blogPost)>.blogs>div>* {
	z-index: -1;
}

.topRight:before {
	content: "";
	position: fixed;
	bottom: 24px;
	left: 24px;
	height: calc(50vh + 20px);
	width: 20vw;
	background: var(--image-blur), rgba(255, 255, 255, 0.1);
	background-blend-mode: overlay;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.topRight::-webkit-scrollbar-track
{
	background: rgba(0, 0, 0, 0);
}

.topRight::-webkit-scrollbar
{
	width: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background: rgba(0, 0, 0, 0);
}

.topRight::-webkit-scrollbar-thumb
{
	background: #4A5459;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
