
textarea{
resize: none;
}

button,input[type="submit"]{
background: #e6e6e6;
border-image: url(https://i.imgur.com/jNTorDD.png);
border-image-slice: 2;
border-image-repeat: repeat;
}

code {
font-family: Hack, monospace;
background: black;
color: white;
}

img#avatar:hover {
content: url(https://i.imgur.com/dbBeXPD.png);
}


#block, #report{
font-size: 0;
}

#block:after, #report:after{
content: "kill a kitten";
font-size: small;
}

#report:after{
content: "use a carve tool in hammer editor";
}
.blogs{
display: flex;
flex-flow: row wrap;
padding-top: 16px;
padding-bottom: 16px;
}

.blurbs>.blogs>div:first-child{
margin-top: -3px;
margin-left: -3px;
margin-right: -3px;
border-top: none;
position: relative;
width: calc(100% + 2px);
top: -16px;
}

.blurbs>.blogs>div:nth-child(2){
box-shadow:0px 0px 0 1px navy;
}

.blurbs>.blogs>div:not(:first-child){
width: 96px;
text-align: center;
margin: 0 20px;
}

.blurbs>.blogs>div:not(:first-child):before{
content: "";
display: block;
width: 96px;
height: 64px;
background: url(https://i.imgur.com/kHoOJF5.png);
background-repeat: no-repeat;
background-position: center;
image-rendering: pixelated;
}

.blurbs>.blogs>div:not(:first-child):hover:before{
background-image: url(https://i.imgur.com/Mk6p3cQ.png);
}

.box.comments > table#userWall {
margin: 0px;
width: 100%;
border-spacing: 0;
background: #272C2D;
}

.box.comments > table#userWall td {
background: #272C2D;
color: #babdb6;
}

.box.comments > table#userWall > tbody > tr > td.tableLeft > a {
color: #8ae234;
}
